* {
    font-family: Helvetica;
}

body {
    margin: 0;
    padding: 0;
}

.layout-main .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.layout-main .top-menu,
.layout-main .collapse-menu {
    background-color: #2b5b45;
}

.layout-main .collapse-menu {
    margin-left: auto;
    margin-right: 0;
    justify-content: flex-end;
}

.layout-main .collapse-menu a,
.layout-main .footer-panel a,
.layout-main .footer-panel h4 {
    word-spacing: 3px;
    font-weight: bold !important;
    color: #fff !important;
    text-decoration: none;
    background: none;
}

.layout-main .collapse-menu a.active {
    color: #f3f351 !important;
}

.layout-main .footer-panel {
    background-color: #262c38;
    left: 0;
    right: 0;
}

.layout-main #forecast-products a,
.layout-main #resources a {
    text-decoration: none;
}

.timeline-demo .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.timeline-demo .p-timeline-event-content,
.timeline-demo .p-timeline-event-opposite {
    line-height: 1;
}

@media screen and (max-width: 960px) {
    .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) {
        flex-direction: row !important;
    }

    .timeline-demo .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
        text-align: left !important;
    }

    .timeline-demo .customized-timeline .p-timeline-event-opposite {
        flex: 0;
    }

    .timeline-demo .customized-timeline .p-card {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1960px) {
    .layout-main,
    .landing-wrapper,
    .layout-main .top-menu-navs,
    .layout-main .footer-panel-navs {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
                padding-left: 2rem;
            }

            .layout-sidebar {
                transform: translateX(-100%);
                left: 0;
                top: 0;
                height: 100vh;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .layout-main-container {
                margin-left: 300px;
            }

            &.layout-static-inactive {
                .layout-sidebar {
                    transform: translateX(-100%);
                    left: 0;
                }

                .layout-main-container {
                    margin-left: 0;
                    padding-left: 2rem;
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 2rem;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 0;
            height: 100vh;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--maskbg);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
                animation: fadein 2s;
            }
        }
    }
}
